<div class="modal fade" id="ttd-create-todo-modal" tabindex="-1" role="dialog" aria-labelledby="ttd-create-todo-modalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="font-weight-bold text-light_blue">Add a to-do</h3>
        <p class="font-weight-bold ttd-create-todo-modal">
        </p>
        <div class="ttd-create-todo-modal-form">
        </div>
      </div>
    </div>
  </div>
</div>
